@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    height: 4px;
}

::-webkit-scrollbar-track{
    background: white;
        border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}